@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>
    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="Login">
                        <span aria-hidden="true"></span> Log in
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink href="Logout">
                        <span aria-hidden="true"></span> Log out
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>

