<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView>
        <NotAuthorized>
            <NavLink class="nav-link" style="color:white" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" style="color:white" aria-hidden="true"></span> Home
            </NavLink>
        </NotAuthorized>
        <Authorized>
            <NavLink class="nav-link" href="customers" style="color:white">
                <span class="oi oi-people" style="color:white" aria-hidden="true"></span> Customers
            </NavLink>
        </Authorized>
</AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
